li {
  list-style: none;
}
.content {
  width: 600px;
  height: 300px;
  background-color: #c8e2bd;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
.clock {
  display: inline-block;
  width: 150px;
  height:150px;
  border: 3px solid #fff;
  border-radius: 50%;
  margin-top: 75px;
  position: relative;
}
.clock .center {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
}
.clock .scale li {
  width: 3px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.clock .scale li:before,.clock .scale li:after {
  content: '';
  display: inline-block;
  width: 3px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  left: 0;
}
.clock .scale li:before {
  top: 0;
}
.clock .scale li:after {
  bottom: 0;
}
.clock .scale-1 {
  transform: rotate(30deg)
}
.clock .scale-2 {
  transform: rotate(60deg)
}
.clock .scale-3 {
  transform: rotate(90deg)
}
.clock .scale-4 {
  transform: rotate(120deg)
}
.clock .scale-5 {
  transform: rotate(150deg)
}
.clock .scale-6 {
  transform: rotate(180deg)
}
.clock .pointer li {
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: rotate(0deg);
}
.clock .pointer-h {
  width: 4px;
  height: 50px;
  top: 35px;
  transform-origin: center 40px;
}
.clock .pointer-m {
  width: 3px;
  height: 60px;
  top: 25px;
  transform-origin: center 50px;
}
.clock .pointer-s {
  width: 2px;
  height: 70px;
  top: 15px;
  transform-origin: center 60px;
}
.clock .brand {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: 15px;
  left: 0;
  color: #fff;
}